.search-form {
    display: block;
}

form {
    input {
        height: 40px;
        border-radius: 3px;
    }

    input:not([type="submit"]) {
        width: 100%;
        
    }
}

/* Search form */

.search-form__input {
    display: block;
    -webkit-appearance: none;
    border: 0;
    border-radius: 3px;
    border: 2px solid #e6e6e6;
    padding-left: 10px;
    padding-right: 10px;
}

.search-form__input:focus,
.search-form__input:active {
    border-color: $colour-theme;
}


/* Subscribe form */


/* Translate form */
