@charset "UTF-8";

@import "ghost-required";

@import "reset";
@import "variables";
@import "typography";
@import "utils";
@import "layout";
@import "post";
@import "ads";
@import "syntax-highlighting";
@import "subscribe";
@import "form";


.social ul {
    display: flex;
    justify-content: center
}

.social ul li {
    margin-left: 7px;
    margin-right: 7px
}

.social ul li svg {
    height: 15px;
    width: auto
}

.dialog-overlay {
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    width: 100vw;
    height: 100%;
    background-color: rgba(255, 255, 255, .9)
}

.dialog {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}

.dialog-overlay[aria-hidden=true],
.dialog[aria-hidden=true] {
    display: none
}



.message--count {
    display: block
}

.message--count span {
    font-weight: 600
}

